<section class="container">

    <div class="card" style="width: 18rem; border:none;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body pb-3" style="font-size:large; font-weight: 700;">
          <h2 class="card-title">DANVOUY Womens T Shirt Casual Cotton Short</h2>
          

        </div>

        <div class="row">
            <div class="col">
                <p class="text-2xl" style="font-weight: bolder; color:rgb(249 115 22); font-size:x-large;">$300</p>
            </div>
            <div class="col">
                <button class="text-white px-2 py-1" style="background-color:rgb(249 115 22);">Add to Cart</button>
            </div>
            
        </div>

        
    </div>

</section>

